* {
    background-color: rgb(201, 242, 242);
}

img {
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
}

.site {
    display: grid;
    grid-auto-flow: column;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.homebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
}