body {
    height: auto;
}
img {
    width: 17vw;
    height: auto;
}
#img {
    width: 30vw;
    height: auto;
}
ul {
    list-style-type: none;
}

.site {
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-areas:"header header"
                        "title sidebar"
                        "main sidebar"
                        "footer footer";
    gap:5px ; margin:10px; padding:10px; border:solid 2px #000;
}

.site > *{padding:30px; color:#fff; font-size:20px;}

.mastheader{
    background:#EB1D36; 
    grid-area:header;
    color: #F5EDDC;
    text-decoration:none
}

.page-title{background:#A2B5BB; grid-area:title;}

.main-content{
    background:#CFD2CF; grid-area:main;
    min-height:500px;
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    column-gap: 1vw;
    row-gap: 2vw;
    justify-content: space-evenly;
    margin-bottom: auto;
}

.sidebar{
    background:#F5EDDC; grid-area:sidebar;
}

.footer{background:#EB1D36; grid-area:footer;}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.homebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
}

.sneakername {
    display: flex;
    align-items: center;
    height: 5vh;
}

header {
    font-size: 40px;
}

.product {
    width: 17vw;
    height: auto;
}
.product h3 {
    color: #000;
}
.buttons-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: inherit;
    align-content: center;
}

/* CSS */
.buttons {
    /* width: 4vw;
    height: 4vh; */
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.buttons:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.buttons a {
    height: 2vh;
}

/* #buy-button {
    margin-top: 2vh;
} */
/* .createbutton {
    display: flex;
    align-items: center;
    justify-content: center;
} */

form {
    width: fit-content;
}

.price {
    display: flex;
    justify-content: center;
    position: relative;
    right: 2vw;
    top: -30vh;
}

.show-price {
    display: flex;
    justify-content: center;
    position: relative;
    right: -10vw;
    top: -50vh;
}

.show-price h3 {
    font-size: 50px;

}

.out-of-stock {
    display: flex;
    justify-content: center;
    position: relative;
    right: -12vw;
    top: -44vh;
}
.index-oos {
    display: flex;
    justify-content: center;
    position: relative;
    right: -2vw;
    top: -26.5vh;
}

p {
    color: #000;
}
